/* *{
    margin: 0%;
    padding: 0;
} */
html,body{
    width: 100%;
    height: 100%;
}
header{
    background-color: rgb(196, 248, 255);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    h1{
        color: rgb(15, 145, 181);
    }
    word-spacing: 5px;
}
.loginForm{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: calc(70vh - 130px);
    line-height: 20px;
}